body{
    background-color: rgb(80, 40, 114);
    line-height: 15px;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ban_title{
    background-color: cornsilk;
    position:absolute;
    z-index: 999;
    padding: 30px;
    box-shadow:-12px 12px 2px 1px rgba(0, 0, 0, 0.8);
}

header h1,p{
    font-family: 'Josefin Sans', sans-serif;
}

header h1{
    font-size: 50px;
}

header p{
    font-size: 20px;
    text-align: center;
}

/*banniere*/

.slides{
    display: flex;
    align-items: center;
    flex-direction: row;    
    animation: glisse 30s infinite ease;
    flex-direction: row;
}

.slide{
    opacity: 0.5;
}

@keyframes glisse{
    0% {
        transform: translateX(2200px);
    }

    15% {
        transform: translateX(1475px);
    }

    30% {
        transform: translateX(750px);
    }

    45% {
        transform: translateX(0px);
    }

    60% {
        transform: translateX(-750px);
    }

    75% {
        transform: translateX(-1475px);
    }

    90% {
        transform: translateX(-2200px);
    }

    100% {
        transform: translateX(2200px);
    }
}

/*Boutons*/

.menu{
    list-style-type: none;
    text-align: center;
    background-color: none;
    border: 3px solid black;

}

/*____________________________________________________________________________________________________________________*/

.accueil{
    border: 2px solid rgba(0, 0, 0, 4);
    background: none;
    padding: 10px 20px;
    font-size: 15px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.accueil:hover{
    color:  rgb(80, 40, 114);
}

.accueil::before{
    content: "";
    position: absolute;
    left:0;
    width: 100%;
    height: 0%;
    background: black;
    z-index: -1;
    transition: 0.6s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.accueil:hover::before{
    height: 180%;
}

/*_______________________________________________________________________________________________________________________*/

select{
    border: 2px solid rgba(0, 0, 0, 4);
    font-size: 15px;
    background: none;
    padding: 10px 20px;
    margin:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

select:hover{
    color:  rgb(12, 86, 116);   
}

nav input{
    border: 2px solid rgba(0, 0, 0, 4);
    font-size: 17px;
    padding: 10px 15px;
    box-shadow:-3px 3px 2px 2px rgba(0, 0, 0, 1);
    margin-left: 30px;
}

.recherche{
    width: 40px;
    height: 40px;
    cursor:pointer;
    border-radius: 300%;
}

/*______________________________________________________________________________________________________________________________*/
.gif{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gif img{
    width: 280px;
    height: 125px;
    cursor:pointer;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5% 5% 5% 5%;
}

.gif .trans:hover{
    transform: scale(0.9);
    transition: 0.3s all;
}



.container{
    background-color: rgb(34, 34, 33);
    width: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.container2{
    background-color: rgb(34, 34, 33);
    width: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.container h2{
    font-size: 38px;
    margin-left: 20px;
    font-family: 'Kanit', sans-serif;
    color:white;
    text-shadow: rgb(109, 30, 102) 4px 4px;
}

.container2 h2{
    font-size: 38px;
    margin-left: 20px;
    font-family: 'Kanit', sans-serif;
    color:white;
    text-shadow: rgb(109, 30, 102) 4px 4px;
}

.container2 h3{
    font-size: 25px;
    margin-left: 30px;
    font-family: 'Kanit', sans-serif;
    color:white;
    text-shadow: rgb(109, 30, 102) 2px 2px;
}

.container2 p{
    font-size: 20px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Kanit', sans-serif;
    color: rgb(145, 141, 148);
}

.container2 img{
    width: 350px;
    height: 480px;
    border-radius: 5% 5% 5% 5%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 50px;
}

.container3{
    background-color: rgb(34, 34, 33);
    width: auto;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.container3 p{
    font-size: 20px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Kanit', sans-serif;
    color: rgb(151, 82, 168);
}

.container3 h3{
    font-size: 25px;
    margin-left: 30px;
    font-family: 'Kanit', sans-serif;
    color:white;
    text-shadow: rgb(109, 30, 102) 2px 2px;
}

.container3 h2{
    font-size: 38px;
    margin-left: 20px;
    font-family: 'Kanit', sans-serif;
    color:white;
    text-shadow: rgb(109, 30, 102) 4px 4px;
}

.container3 img{
    width: 900px;
    height: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container3 .news{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container .MCU{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .vignette{
    width: 120px;
    height: 180px;
    margin-left: 17px;
    margin-bottom: 25px;
    margin-top: 25px;
    cursor: pointer;
}

.container .vignette:hover{
    transform: scale(1.1);
    transition: 0.3s all;
    box-shadow: -8px 8px 2px 1px rgba(0, 0, 0, 0.2);
}

.container .vignette img{
    width: 120px;
    height: 180px;
    border-radius: 5% 5% 5% 5%;
}


/* Footer_________________________________________________________________________________________________*/

.container-footer{
    max-width: 1500px;
    margin: auto;
}

.footer{
    background-color: #292c31;
    max-width: 1700px;
    padding: 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer ul{
    list-style: none;
}

footer .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h2{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h2::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -20px;
    background-color: #682451;
    height: 3px;
    box-sizing: border-box;
    width: 60px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left:15px;
}

.footer-col .reseaux a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .reseaux a:hover{
    color: #292c31;
    background-color: #ffffff;
}

.footer-col .e-mail{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    color: #ffffff;
    text-transform: capitalize;
}

.footer-col .message{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    color: #ffffff;
    text-transform: capitalize;
}

.footer-col .footer-text-email input{
    margin-bottom: 30px;  
    width:200px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 4);
    font-family: Arial, Helvetica, sans-serif;
}

.footer-col .footer-text-mess textarea{
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 4);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5% 5% 5% 5%;
}

.footer-col .send{
    cursor: pointer;
    width: 375px;
    height: 35px;
    background:  #682451;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 17px;
    border: 2px solid rgba(0, 0, 0, 4);
    transition: 0s;
    position: relative;
    overflow: hidden;
}

.footer-col .send:hover{
    color:   black;
}



