body{
    background-color: rgb(80, 40, 114);
    line-height: 15px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ban_title{
    background-color: cornsilk;
    position:absolute;
    z-index: 999;
    padding: 30px;
    box-shadow:-12px 12px 2px 1px rgba(0, 0, 0, 0.8);
}

header h1,p{
    font-family: 'Josefin Sans', sans-serif;
}

header h1{
    font-size: 80px;
}

header p{
    font-size: 30px;
}

/*banniere*/

.slides{
    display: flex;
    align-items: center;
    flex-direction: row;    
    animation: glisse 30s infinite ease;
    flex-direction: row;
}

.slide{
    opacity: 0.5;
}

@keyframes glisse{
    0% {
        transform: translateX(3450px);
    }

    15% {
        transform: translateX(2290px);
    }

    30% {
        transform: translateX(1200px);
    }

    45% {
        transform: translateX(0px);
    }

    60% {
        transform: translateX(-1200px);
    }

    75% {
        transform: translateX(-2450px);
    }

    90% {
        transform: translateX(-3600px);
    }

    100% {
        transform: translateX(3450px);
    }
}

/*Boutons*/

.menu{
    list-style-type: none;
    text-align: center;
    background-color: none;
    border: 5px solid black;

}

/*____________________________________________________________________________________________________________________*/

.accueil{
    border: 2px solid rgba(0, 0, 0, 4);
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.accueil:hover{
    color:  rgb(80, 40, 114);
}

.accueil::before{
    content: "";
    position: absolute;
    left:0;
    width: 100%;
    height: 0%;
    background: black;
    z-index: -1;
    transition: 0.6s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.accueil:hover::before{
    height: 180%;
}

/*_______________________________________________________________________________________________________________________*/

select{
    border: 2px solid rgba(0, 0, 0, 4);
    font-size: 20px;
    background: none;
    padding: 10px 20px;
    margin:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

select:hover{
    color:  rgb(12, 86, 116);   
}

input{
    border: 2px solid rgba(0, 0, 0, 4);
    font-size: 22px;
    padding: 10px 15px;
    box-shadow:-3px 3px 2px 2px rgba(0, 0, 0, 1);
    margin-left: 30px;
}

.recherche{
    width: 40px;
    height: 40px;
    cursor:pointer;
    border-radius: 300%;
}





